@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

body {
  background: #eee;
  padding: 2em 0;
}

.title {
  margin: 2.5em 0 1em;
}

.title h4 {
  float: left;
  line-height: 1.5; /* same as button */
  margin: 0 20px 0 0;
}

.panel {
  background: #fff;
  border-radius: 6px;
  padding: 1em 2em;
  margin: 1em 0;
}
